body {
   
    margin: 0;
    padding: 0;
}

/* titulo principla */
.titulo-principal{
    text-align: center;
    font-family: serif;
    background: black;
    color: azure;
    padding: 15px 5px;
}


/* contenedor canchas */
#contenedor-modelos{
    color: white;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    margin-bottom: 10px;
}

#contenedor-modelos2{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 51% 94%, 0 88%);
    margin-bottom: 10px;
    margin-top: 40PX;
}

#contenedor-modelos3{
    clip-path: polygon(0 0, 100% 12%, 100% 50%, 100% 100%, 49% 100%, 0 100%);
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 40PX;
}

/* BOTON COTIZAR */

.btoton-cotizar{
    border: none;
    border-radius: 5px;
}
.btoton-cotizar:hover{
    box-shadow: 0px 10px 10px rgb(219, 218, 218);  
    transform: scale(1.05);  
}

/* imagenes en global para su hover */
#imagenes:hover{
    box-shadow: 15px 15px 15px rgb(130, 129, 129,0.5);
    transform: scale(1.05);
}

/* primera cancha */
#contenedorfirstcancha{
    margin-bottom: 80px;
}

@keyframes movContacto{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translatex(300px);
    }
}