body {
   
    margin: 0;
    padding: 0;
}

/* ************  HEADER *************** */

.container-header{
    height: 100%;
    display: block;
    background-size:contain ;
    background-repeat: no-repeat;
    text-align: center;
}

.logos-conacto img{
   width: 50PX;
   margin-top: 1%;
}

#lineContactanos{
    margin-right: 300px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    animation: movContacto 5s linear infinite;
}
/* ******************           NAVBAR          *********************** */

nav{
    /* border: solid red; */
    height: 100%;
    background-color: #000;
}

#containernavbar{
    background-color: black;
    /* border: solid yellow; */
}

.nav-item a{
    color: #fff;
}

.nav-item a:hover {
    border-radius: 10px;
    background-color: #FFF;
}

.navbar-logo{
    padding-left: 22%; 
}

.navbar-logo :hover{
    box-shadow: 0 0 30px #666; /* box-shadow genera una sombra en el hover del contenedor items en cada item */
    scale: 1.05;
}

.dropdown-menu{
    background-color: #000;
}
#hr-menu-canchas{
    color: #fff;
}

/* ************** STILOS FOOTER  */
.container-footer{
    
}
.contenedor-desc-footer{
    background-image: linear-gradient(to top, #434343 0%, black 70%);
    color: #fff;
}
.col-iconos img{
display: block;
margin-left: 1%;
float: left;
}
/* style item */
.item{
    height: 200px;
}

/* item 1 */
#item1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
}
#item1 img{
    border: solid green;
    height: 80%;
    /* margin-right: 30px; */
}
 /* *************************** REPONSIVIDAD ************************** */
 /* @media screen and (max-width:450px){

    .container-header{
        opacity: 0;
    }

    .card-container{
        display: block;
    }

    .card{
        display: block;
    }

    .card-front,
    .card-back {
        display: block;
    }

    .card-inner{
        display: block;
    }

    .item{
        display: block;
    }

    .container-footer{
        display: block;
        opacity: 50%;
    }

} */
/* animaciones */
@keyframes movContacto{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translatex(300px);
    }
}