@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;600;700&family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:wght@300;400;600;700&family=Urbanist:wght@300&display=swap');


/* BODY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************  HEADER *************** */

.container-header{
    height: 100%;
    display: block;
    background-size:contain ;
    background-repeat: no-repeat;
    text-align: center;
}

.logos-conacto img{
   width: 50PX;
   margin-top: 1%;
}

#lineContactanos{
    margin-right: 300px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    animation: movContacto 5s linear infinite;
}


/* ******************           NAVBAR          *********************** */

nav{
    /* border: solid red; */
    height: 100%;
    background-color: #000;
}

#containernavbar{
    background-color: black;
    /* border: solid yellow; */
}

.nav-item a{
    color: #fff;
}

.nav-item a:hover {
    border-radius: 10px;
    background-color: #FFF;
}

.navbar-logo{
    padding-left: 22%; 
}

.navbar-logo :hover{
    box-shadow: 0 0 30px #666; /* box-shadow genera una sombra en el hover del contenedor items en cada item */
    scale: 1.05;
}

.dropdown-menu{
    background-color: #000;
}
#hr-menu-canchas{
    color: #fff;
}

/* ************** STILOS FOOTER  */
.container-footer{
    
}
.contenedor-desc-footer{
    background-image: linear-gradient(to top, #434343 0%, black 70%);
    color: #fff;
}
.col-iconos img{
display: block;
margin-left: 1%;
float: left;
}

/* fin style footer */

/* style forulario cotizacion */
.contenedorformulario{
background-image: url(../img/walpaper-formulario.jpg);
background-size: contain;
height: 100vh;
}

.contenedorformulario h2{
    font-family: 'Playfair Display', serif;
}

.titulo-formulario{
    padding-top: 15px;
}

.formulario{
    padding-top: 8%;
    text-align: end;
    margin-right: 5%;
}

.formulario input {
    margin-top: 1%;
    background: rgb(249, 211, 115);
    border-radius: 5px ;
    border-color: rgb(249, 211, 115);
    font-size: 15px;
    width: 25rem;
    height: 2rem;
    color: #000;
}

.formulario textarea{
    margin-top: 1%;
    background: rgb(249, 211, 115);
    border-radius: 5px ;
    border-color: rgb(249, 211, 115);
    font-size: 15px;
    width: 25rem;
    color: #000;
}

.formulario  ::placeholder {
    color: #000;  
}

.formulario col{
    border: solid red;
}
/* ajustando placeholder de los input */
#nombres {
    padding-left: 120px;
}

#apellidos{
    padding-left: 120px;
}

#numero{
    padding-left: 120px;
}

#correo{
    padding-left: 120px;
}

#comentario{
    padding-left: 120px;
    padding-top:40px ;
}



/* animaciones */
@keyframes movContacto{
    0%{
        transform: translatex(0);
    }
    100%{
        transform: translatex(300px);
    }
}