*{
    padding: 0;
    margin: 0;
}
/* ***********  BODY  *********** */
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* ************  HEADER *************** */

.container-header{
    height: 100%;
    display: block;
    background-size:contain ;
    background-repeat: no-repeat;
    text-align: center;
}

.logos-conacto img{
   width: 50PX;
   margin-top: 1%;
}

.img-header h4{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


/* ******************           NAVBAR          *********************** */

nav{
    /* border: solid red; */
    height: 100%;
}

#containernavbar{
    background-color: black;
    /* border: solid yellow; */
}

.nav-item a{
    color: #fff;
}

.navbar-logo{
    padding-left: 22%; 
}

.navbar-logo :hover{
    box-shadow: 0 0 30px #666; /* box-shadow genera una sombra en el hover del contenedor items en cada item */
    scale: 1.05;
}

.dropdown-menu{
    background-color: #000;
}
#hr-menu-canchas{
    color: #fff;
}

/* ************** STILOS FOOTER  */
.contenedor-desc-footer{
    background-image: linear-gradient(to top, #434343 0%, black 70%);
    color: #fff;
}
.col-iconos img{
display: block;
margin-left: 1%;
float: left;
}